<header class="site-header">
    <div class="wrapper">
        <a class="site-title hover-animation" href="/index.html">RoryMac.blog </a>
        <nav class="site-nav">
            <a class="nav-link hover-animation" href="/index.html">About</a>
            <a class="nav-link hover-animation" href="/explore.html">Explore</a>
            <a class="nav-link hover-animation" href="/projects.html">Projects</a>
            <a class="nav-link hover-animation" href="/blog.html">Blog</a>
        </nav>
    </div>
    <hr>
</header>