@font-face {
    font-family: 'Source Serif Pro';
    src: url('/Assets/fonts/source-serif-pro.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/Assets/fonts/Merriweather-Regular.ttf') format('truetype'),
      url('/Assets/fonts/Merriweather-Bold.ttf') format('truetype'),
      url('/Assets/fonts/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    max-width: 800px;
    margin: 0rem auto 0rem auto;
    font-weight: 400;
    font-size: 1.0625rem;
    letter-spacing: -0.003rem;
    line-height: 28px;
    font-family: 'Source Serif Pro', 'Source Code Pro', monospace;

    &.dark {
        background-color: black;
        color: white;
    }
    
    &.light {
        background-color: white;
        color: black;
    }
}

hr {
    border-top: 1px solid silver;
}

.site-header {
    padding: 1rem 2rem;
    font-weight: bold;
}

.site-footer {
    padding: 0.5rem 2.5rem;
}

.site-title {
    font-size: 1.625rem;
}

.site-nav {
    line-height: 2rem;
    float: right;
}

.nav-link {
    text-decoration: none;
    margin-right: 1.25rem;
}


.wrapper {
    padding: 1rem 0;
}

.page-content {
    padding: 0rem 2rem;
}

a {
    font-weight: 400;
    text-decoration: none; 
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

img {
    display: block;
    margin: 0 auto;
}

.space-div {
    padding: 1rem 0;
}