body, html {
    max-width: 800px;
    margin: 0rem auto 0rem auto;
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Source Code Pro', monospace;

    &.dark {
        background-color: black;
        color: #D3D3D3;
    }
    
    &.light {
        background-color: white;
        color: black;
    }
}

.site-header {
    padding: 1rem 2rem;
    font-weight: bold;
}

.site-title {
    font-size: 1.625rem;
}

.site-nav {
    line-height: 2rem;
    float: right;
}

.nav-link {
    text-decoration: none;
    margin-right: 1.25rem;
}


.wrapper {
    padding: 1rem 0;
}

.page-content {
    padding: 0rem 2rem;
}

a {
    font-weight: 400;
    text-decoration: none; 
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

img {
    display: block;
    margin: 1rem auto 1rem auto;
}

.flex-div {
    display: flex;
    flex-direction: row;
}