@font-face {
    font-family: 'Source Serif Pro';
    src: url('/Assets/fonts/source-serif-pro.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mona-Sans';
    src: url('/Assets/fonts/Mona-Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, html {
    max-width: 800px;
    margin: 0rem auto 0rem auto;
    font-weight: 400;
    font-size: 1.0625rem;
    letter-spacing: -0.003rem;
    line-height: 28px;
    font-family: 'Source Serif Pro';

    &.dark {
        background-color: black;
        color: white;
    }
    
    &.light {
        background-color: white;
        color: black;
    }
}

hr {
    border-top: 1px solid silver;
}

.site-header {
    padding: 1rem 0rem;
    font-weight: bold;
}

.site-footer {
    padding: 0.5rem 0rem;
}

.site-title {
    font-size: 1.625rem;
}

.site-nav {
    line-height: 2rem;
    float: right;
}

.nav-link {
    text-decoration: none;
    margin-right: 1.25rem;
}


.wrapper {
    padding: 1rem 0;
}

a {
    font-weight: 400;
    text-decoration: none; 
    color: inherit;
    &:hover {
        text-decoration: underline;
    }
}

img {
    display: block;
    margin: 0 auto;
}

.space-div {
    padding: 1rem 0;
}

.reference-list {
    font-size: 1rem;
}

.home-page-container {
    margin: 0 2rem 2rem 2rem;
    position: relative;
    transition: transform .2s;
    border: 0.1rem solid black;

    &:hover {
        transform: scale(1.1);
    }
}

.home-page-image {
    width: 100%;
}

.overlay-text {
    font-family: 'Mona-Sans';
    font-weight: 500;
    position: absolute;
    font-size: 32px;
    bottom: 1rem;
    left: 1rem;
}

.footer-flex-container {
    display: flex;
    justify-content: flex-end;
  }

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    background-color: #eeeeee;
}

sup {
    font-size: 0.7rem;
}