.portal-image {
  width: 100%; 
  height: 100%;
  background-color: black;
}

.portal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}

.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
  margin: 0 0 2rem 0;  
  justify-content: space-between;
}

.slider-content {
    max-width: 213.2px;
    margin: 0 46.2px 2rem 0;  
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.navigation {
  text-align: center;
  margin-top: 10px;
}

button {
  font-size: 20px;
  cursor: pointer;
}
  