.topic {
  margin: 0 2rem 2rem 0;
  display: flex;
  justify-content: flex-start;
}

.topic-title {
  min-width: 200px;
  max-width: 200px;
  padding: 1rem;
  background-color: white;
}

.portal-container {
  overflow-y: hidden;
  display: flex;
  transition: transform 0.3s ease-in-out;  
  justify-content: flex-start;
  padding: 1rem;
  z-index: 1;
}

.portal-container::-webkit-scrollbar {
  width: auto;
}
 
.portal-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.portal-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.portal {
    margin: 0 2rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.portal-image {
  width: 100%; 
  height: 100%;
  background-color: black;
}

.portal-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: white;
}
  