.home_bg { 
    background-color:black;
    overflow: hidden;
}

#portal_frame {
    position:absolute;
    height:600px;
    width:600px;
    z-index:1;
    //border: solid;
    //border-color: red;
    //border-radius: 4px;
}

.home_portal {
    background-color: white;
    height:50px;
    width:50px;
    position:absolute;
}