.page-title {
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem 0;
}

.project-tag {
    color: rgb(0, 120, 212);
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    max-height: 200px;
    margin-bottom: 6rem;
}

.page-container {
    max-width: 950px;
    margin: 0 auto;
}

.grid-portal {
    &.left {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    &.right {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: stretch;
}

.grid-text {
    &.left {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    &.right {
        grid-column-start: 3;
        grid-column-end: 4;
    }
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 1rem;
}