.zoom {
    transition: transform .2s;
    text-align: center;

    &:hover {
      transform: scale(1.1);
    }

    img {
      padding: 50px;
      height: 200px;
    }

    &.small {
      p {
        width: 210px;
      }

      img {
        padding: 25px;
        width: 150px;
        height: 150px;
      }
    }
}