<!DOCTYPE html>
<html>
    <head>
        <!-- Include CSS, scripts, or other common elements -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <!-- Include navigation menu from _includes folder -->
        {% include nav_menu_dark.html %}
        <main class="page-content-dark">
            <div class="wrapper">
        <!-- Render the content from the Markdown file -->
        {{ content }}
        <!-- Include additional scripts or assets -->
            </div>
        </main>
    </body>
</html>