<html class="home_bg">
    <head>
        <link rel="stylesheet" href="{{site.baseurl}}/Assets/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
    </head>
    <body>
        {{ content }}
    </body>
    <script type="text/javascript" src="/Assets/scripts/initialise.js"></script>
    <script type="text/javascript" src="/Assets/scripts/interactive.js"></script>
</html>