<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{site.baseurl}}/Assets/css/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <title>{{ page.title }}</title>
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                <a class="site-title" href="{{site.baseurl}}/index.html">rorymac.blog </a>
                <nav class="site-nav">
                </nav>
            </div>
        </header>
        <main class="narrow">
        {{ content }}
        </main>
        <div class="site-footer">
            <div class="footer-flex-container">
                <a target="_blank" href="https://github.com/Rory-Mac"><img class="footer-logos" style="width: 50px; height: 50px;" src="/Assets/images/git_logo_light.png"></a>
                <a target="_blank" href="https://www.linkedin.com/in/rory-maclean-63b792215/"><img class="footer-logos" style="width: 70px; height: 50px;" src="/Assets/images/linkedin_logo_light.png"></a>
            </div>
        </div>
    </body>
</html>